body {
  margin: 0;
  font-family: "Baloo 2", sans-serif;
}

#orderContainer {
  font-family: "Lato", sans-serif;
  width: 80%;
  padding-top: 250px;
  padding-bottom: 150px;
  margin: auto;
  text-align: center;
}

#orderContainer i {
  color: rgb(5, 187, 5);
  font-size: 160px;
}

#aboutCheck p {
  font-weight: 400;
  letter-spacing: 1px;
  font-family: "Quicksand", sans-serif;
}

#aboutCheck h1 {
  letter-spacing: 1px;
  font-family: "Baloo 2", sans-serif;
  font-size: 70px;
}

/* ----------------------------- MEDIA QUERY --------------------------- */

@media (max-width: 540px) { 
  #orderContainer i {
    padding-bottom: 30px; 
  }

  #aboutCheck h1 {
    font-family: "Baloo 2", sans-serif;
    font-size: 45px;
  }

  #aboutCheck p {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 25.4px;
  }
}
